---
import ViewHeader from '../components/Sections/ViewHeader.astro';
import Layout from '../layouts/Layout.astro';
import SectionHeader from '../components/Sections/SectionHeader.astro'
import SectionModelY from '../components/Sections/SectionModelY.astro';
import SectionModel3 from '../components/Sections/SectionModel3.astro';
import SectionModelS from '../components/Sections/SectionModelS.astro';
import SectionModelX from '../components/Sections/SectionModelX.astro';
---
<Layout title="Tesla Landing">
    <main class="snap-mandatory snap-y overflow-y-auto overflow-x-hidden scroll-smooth h-screen w-full">
        <div class="snap-center">
            <SectionHeader/>
        </div>
        <div class="snap-center">
            <SectionModelY/>
        </div>
        <div class="snap-center">
            <SectionModel3/>
        </div>
        <div class="snap-center">
            <SectionModelS/>
        </div>
        <div class="snap-center">
            <SectionModelX/>
        </div>
    </main>
</Layout>
